* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Space Mono', monospace;
}

a {
    text-decoration: none;
}

button {
    border: none;
    background: none;
}

li {
    list-style: none;
}

body {
    height: 100%;
    line-height: 1;
}

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
}

.logo img {
    margin-top: 180px;
    margin-bottom: 38px;
}

.news {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 62px;
}

.picture-and-arrow {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#news-photo {
    margin-top: 25px;
}

.arrow {
    display: flex;
    align-items: center;
    margin-top: 50px;
}

.arrow img {
    margin-left: 10px;
}

.main-text {
    max-width: 400px;
    margin-left: 20px;
}

.main-text span {
    font-size: 20px;
}

.main-text h1 {
    font-size: 25px;
    margin-bottom: 24px;
}

.main-text p {
    font-size: 20px;
    margin-bottom: 105px;
}

.main-text a {
    color: #FFFF;
    background: red;
    font-size: 20px;
}

nav {
    display: flex;
    justify-content: center;
    margin-top: 125px;
}

nav ul {
    display: flex;
}

nav li {
    margin-left: 15px;
    margin-right: 15px;
}

nav a {
    color: #000000;
    font-size: 20px;
}

nav a:hover {
    text-decoration: underline;
}

@media screen and (max-width:768px) {
    .news {
        display: flex;
        justify-content: center;
    }

    .main-text {
        margin-top: 40px;
    }

    .main-text a {
        display: none;
    }

    nav {
        display: none;
    }
}

@media screen and (max-width:320px) {
    .logo {
        margin-left: 35px;
    }
}